/* dt样式 */

table.dataTable tbody tr.selected {
    background-color: #B0BED9;
}

.table th{
    /* text-align: center; */
}

/* dt搜索 */

.search-item {
    text-align: right;
}

#searchCollapse {
    margin-top: 10px;
}

#searchCollapse .form-group {
    margin-right: 5px;
}

/* layui */
.table .layui-form-switch{
    margin-top: 0;
    width: 52px;
}
.table .layui-form-switch i{
    top: 2px;
    left: 3px;
}
.table .layui-form-onswitch i{
    left: 32px;
}
.table .layui-form-onswitch em{

}

.layui-form-label{
    width: 100px;
}
#actionForm{
    padding: 20px;
}

/* detail */
.detail-item{
    padding: 20px;
    font-size: 20px;
    color: #A7A7A7;
}

::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #3c8dbc;
}
